#Data Types and Structures Questions

#Theory Questions

1. What are data structures, and why are they important?
 - Data Structures are various format for oraganising and storing datas to easily identify and access. its efficient ways to provide data or info based on it characters or formats as per its usage.

2.   Explain the difference between mutable and immutable data types with examples?
 -  MUTABLE DATA TYPES: allows to edit/modify, add/remove the stored data or value in the data type. >>eg. Data Types: List, sets & dictionary
IMMUTABLE DATA TYPES: doesn't allows any modification to the stored data. >>eg. Data Type: Tuple.

3. What are the main differences between lists and tuples in Python?
 - the main difference between list and tuples is that lists are mutable data type and tuples are immutable data type.

4. Describe how dictionaries store data?
 - dictionaries store data in pairs like specific value for the specific container/ key in the data type
  eg. Box: item OR Key: value.

5. Why might you use a set instead of a list in Python?
 - sets are used to store unique elements which means it doesn't allow duplicate and it also stores data unordered which means its not guaranteed ordered elements.

6. What is a string in Python, and how is it different from a list?
 - String is a sequence of character which is writen inside single quotes, double quotes & triple quotes and strings are immutable element.

7.  How do tuples ensure data integrity in Python?
 - Tuples are immutable data type, which means you cannot modify, add or removing anything in it which makes tuples ensure data integrity.

8. What is a hash table, and how does it relate to dictionaries in Python?
has table is a way to directly access the data elements stored in dictionaries.
 - i don't remember it was taught in this module, not sure

9. Can lists contain different data types in Python?
 - Yes, List can contain different data types in python.

10.  Explain why strings are immutable in Python?
 -

11. What advantages do dictionaries offer over lists for certain tasks?
 - you can store key value pair datas in dictionaries or more structured datas in a nested way like employee info, students info, or we can say multiple data of a subject

12. Describe a scenario where using a tuple would be preferable over a list.
 - lest suppose a dance comnpetition couples list info

13. How do sets handle duplicate values in Python?
 - it ignores it, meaning it doesn't stores the duplicate value because sets are used to store unique elements.

14. How does the “in” keyword work differently for lists and dictionaries.
 - In lists, the "in" keyword checks whether a given element exists in the list.

In dictionaries, the "in" keyword checks for the presence of a key only, not values.

15. Can you modify the elements of a tuple? Explain why or why not.
 - no you canbnot modify the elements in tuple after creating it because tuple elements use hashcodes

16. What is a nested dictionary, and give an example of its use case?
 - A nested dictionary is a dictionary that contains another dictionary as a key value. example of use case: Student info, Employee Info, etc. basically its a whole detailed info about of a subject or list.

17.  Describe the time complexity of accessing elements in a dictionary.
 - faster access.

18. In what situations are lists preferred over dictionaries?
 - when you have to store various types of data you must prefer the lists over dictionaries because a dictionary can only contain items in the form of key: value pairs.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
 - Dictionaries are considered unordered because items are accessed by keys, instead of indexing. The unorder syle of items doesn't affect data retrieval as long as you know the key, you can retrieve its value directly.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
 - in terms of data retrieval, the difference between list and dictionary is that items in list are accessed through indexing while items in dictionary is accessed directly by hash table

#Practical Questions

In [1]:
#1. Write a code to create a string with your name and print it.

name = "Saif"
print(name)

Saif

In [2]:
#2. Write a code to find the length of the string "Hello World".

my_str = "Hello World"
len(my_str)

11

In [3]:
#3. Write a code to slice the first 3 characters from the string "Python Programming".

p =  "Python Programming"
p[0:3]

'Pyt'

In [8]:
#4. Write a code to convert the string "hello" to uppercase.

Caps = "hello"
B = Caps.upper()
print(B)

HELLO

In [12]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

fruit = "I like apple"
fruit = fruit.replace("apple", "orange")
print(fruit)

I like orange

In [13]:
#6. Write a code to create a list with numbers 1 to 5 and print it.

my_list = list(range(1,6))
print(my_list)

[1, 2, 3, 4, 5]

In [16]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4].

a = [1, 2, 3, 4]
a.append(10)
print(a)

[1, 2, 3, 4, 10]

In [18]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

b_list = [1, 2, 3, 4, 5]
b_list.remove(3)
print(b_list)

[1, 2, 4, 5]

In [19]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

x = ['a', 'b', 'c', 'd']
x[1]

'b'

In [21]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].

r = [10, 20, 30, 40, 50]
r.reverse()
print(r)

[50, 40, 30, 20, 10]

In [23]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

my_tuple = (100, 200, 300)
print(my_tuple)
print(type(my_tuple))

(100, 200, 300)
<class 'tuple'>

In [30]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

x = ('red', 'green', 'blue', 'yellow')
x[1:]

('green', 'blue', 'yellow')

In [31]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
num = (10, 20, 5, 15)
min(num)

5

In [33]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

pet = ('dog', 'cat', 'rabbit')
pet.index("cat")

1

In [35]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ("orange", "kiwi", "banana", "mango")
print("kiwi" in fruits)

True

In [37]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'a', 'b'}

In [38]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [39]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [41]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1 | set2
print(union_set)

{1, 2, 3, 4, 5}

In [42]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersected_set = set1 ^ set2
print(intersected_set)

{1, 4}

In [50]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

person = {"name": "N/A", "age": "N/A", "city": "N/A"}
print(person)
print(type(person))

{'name': 'N/A', 'age': 'N/A', 'city': 'N/A'}
<class 'dict'>

In [52]:
#22. Write a code to add a new key–value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [55]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

person = {'name': 'Alice', 'age': 30}
person['name']

'Alice'

In [58]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person["age"]
print(person)

{'name': 'Bob', 'city': 'New York'}

In [67]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

person = {'name': 'Alice', 'city': 'Paris'}
if "city" in person:
  print("YES, The key 'city' exists...")
else:
  print("NO, The key 'city' does not exists...")

YES, The key 'city' exists...

In [71]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.

boys = ["Rahul", "Saif", "Raj",]
girls = ("Sofia", "Jasmine", "Naina")
couples = {"Saif":"Naina", "Rahul":"Sofia", "Raj": "Jasmine" }
print(boys)
print(girls)
print(couples)

['Rahul', 'Saif', 'Raj']
('Sofia', 'Jasmine', 'Naina')
{'Saif': 'Naina', 'Rahul': 'Sofia', 'Raj': 'Jasmine'}

In [72]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

"i don't remeber it was taught in module 4."

In [73]:
#28. Write a code to create a list with strings and print the element at the third index.
my_list = ["plumber", "Doctor", "postman", "lawyer", "engineer", "nurse"]
print(my_list[3])

lawyer

In [85]:
#29. Write a code to combine two dictionaries into one and print the result.

dict_1 = {"parrot": 20, "tiger": 5, "lion": 2, "wolf":1}
dict_2 = {"sky": "blue", "height": 5.7, "distance": 100}

combined_dict = {**dict_1, **dict_2}
print(combined_dict)
print(type(combined_dict))

{'parrot': 20, 'tiger': 5, 'lion': 2, 'wolf': 1, 'sky': 'blue', 'height': 5.7, 'distance': 100}
<class 'dict'>

In [87]:
#30. Write a code to convert a list of strings into a set.

my_list = ["page1", "book20", "english", "hindi", "tamil"]
my_set = set(my_list)
print(my_set)
print(type(my_set))

{'page1', 'english', 'hindi', 'tamil', 'book20'}
<class 'set'>